<h2>マイページ</h2>
<h2><strong>登録情報</strong></h2><%= link_to "編集する", '/customers/information/edit', class: "btn btn-success" %>

<table class="table table-bordered">
　<tr>
    　<td>氏名</td>
    　<td><%= @customer.last_name %> <%= @customer.first_name %></td>
    　<td>カナ</td>
    　<tb><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    　<td>郵便番号</td>
    　<td><%= @customer.postal_code %></td>
    　<td>住所</td>
    　<td><%= @customer.address %></td>
    　<td>電話番号</td>
    　<td><%= @customer.telephone_number %></td>
    　<td>メールアドレス</td>
    　<td><%= @customer.email %></td>
　</tr>
</table>







<strong>配送先</strong><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
<strong>注文履歴</strong><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
