<h2>マイページ</h2>
<h2><strong>登録情報</strong></h2>
氏名<%= @customer.last_name %> <%= @customer.first_name %>
カナ<%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
郵便番号<%= @customer.postal_code %>
住所<%= @customer.address %>
電話番号<%= @customer.telephone_number %>
メールアドレス<%= @customer.email %>

<strong>配送先</strong><%=%
<strong>注文履歴</strong>
