<div class="container">
  <div class="row">
    <div class="mx-auto">
      
      <label class="my-4 h4">商品新規登録</label>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <table class="table">
          <tr>
            <td>商品画像</td>
            <td><%= f.file_field :image, accept: "image/*", id: "image", class: "form-control-file image" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction, class: "form-control" %></td>
          </tr>
          <tr>
            <td>ジャンル名</td>
            <td><%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "--選択してください--"}, {class: "form-control input-sm"} %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.number_field :price, class: "form-control" %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td><%= f.radio_button :is_active, 0, checked: true %>販売中 <%= f.radio_button :is_active, 1 %>販売停止中</td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-success" %></div>
            </td>
          </tr>
        </table>
      <% end %>
      
    </div>
  </div>
</div>