<!-- 反映確認用サンプルデータ -->
<% @x = [1,2,3,4,5,6,7,8,9] %>
<%# @x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41] %>
<% @x = [1,2,3,4,5,6,7,8,9] %>
<% y = "商品名" %>



<div class="container mt-5">
  <h1 class="form-check-inline"><strong><%= y %>一覧</strong></h1>
  <h4 class="form-check-inline">(全<%= @x.count %>件)</h4>
  <div class="row g-2">
    
    <% @x.each do |f| %>
      <div class="col-3 mt-4 flex-column">
        <%= link_to "/items/#{f}" do %>
          <div class="pb-2">【画像】</div>
          <div class="pb-2">商品名</div>
        <% end %>
        <div class="pb-2">¥0,000</div>
      </div>
    <% end %>
    
  </div>
</div>

<!-- ↓ページネーション↓ -->
<%#= paginate @x %>

<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"><%#= render "public/homes/genre", genres: Genre.all %></div>
    <div class="col-md-10"><!--以下商品一覧部分!-->
    <h1 style="display:inline;"><strong>
      <% if @genre == nil %>
        商品一覧
      <% else %>
        <%= @genre.name %>一覧
      <% end %>
    </h1>
    (全<%= @sale_items.count %>件)</strong>
    <%= render "public/items/index", items: @items %>
     <div class="mt-5"><%= paginate @items %></div>
    </div>
  </div>
</div>
